html{
    scroll-behavior: smooth;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 28px;
}



/*----------------------------------------------------------------------*/
/*SEC A*/

.secA{
    width: 100%;
    height: 768px;
    background-color: #256D85;
    padding: 50px 50px;
    color: rgb(228, 228, 228);
    font-family: 'Courier New', Courier, monospace;
    
}

.leftA{
    width: 50%;
    float: left;
    padding: 15% 10%;
    font-size: 30px;
    /*background-color: red;*/
}



.rightA{
    width: 50%;
    float: right;
    padding: 0px 0px ;
    margin: 0px;
   /* background-color: blue;*/
}


/*----------------------------------------------------------------------*/
/*SEC B*/
.secB{
    width: 100%;
    height: 768px;
    background-color: #EDE4E0;
    padding: 50px 50px;
    color: rgb(53, 53, 53);
    font-family: 'Courier New', Courier, monospace;
    
}



.leftB{
    width: 50%;
    float: left;
    padding: 5% 10%;
    font-size: 30px;
    /*background-color: red;*/
}

.rightB{
    width: 50%;
    float: left;
    padding: 5% 7%;
    font-size: 20px;
    /*background-color: blue;*/
    text-align: justify;
}


/*----------------------------------------------------------------------*/
/*Sec C*/
.secC{
    width: 100%;
    height: auto;
    background-color: #256D85;
    padding: 50px 50px;
    color: rgb(228, 228, 228);
    font-family: 'Courier New', Courier, monospace;
}

/*----------------------------------------------------------------------*/
/*Sec D*/
.secD{
    width: 100%;
    height: auto;
    background-color: #EDE4E0;
    padding: 50px 50px;
    color: rgb(228, 228, 228);
    font-family: 'Courier New', Courier, monospace;
}

/*----------------------------------------------------------------------*/
/*Sec E*/
.secE{
    width: 100%;
    height: auto;
    background-color: #256D85;
    padding: 50px 50px;
    color: rgb(228, 228, 228);
    font-family: 'Courier New', Courier, monospace;
}

/*.content-div-secE{
    background-color: antiquewhite;
    width: 70%;
    height: 100%;
    padding: 50px 0px 0px;
    border-radius: 20px;
}*/

.secE h1{
    color: rgb(228, 228, 228);
}

/*----------------------------------------------------------------------*/
/*Footer section*/

.footer {
    width: 100%;
    height: auto;
    padding: 30px;
    text-align: center;
    background-color: #06283D;
  }

/*----------------------------------------------------------------------*/
/*image css*/

.imgintro{
    width: 580px;
    margin-top: 89px;
}

.profileimg{
    width: 300px;
    -webkit-box-shadow: 0px 2px 49px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 49px 4px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 49px 4px rgba(0,0,0,0.75);
    border-radius: 50%;
}

/**/
/*Content Reveal transition*/
.reveal{
    position: relative;
    transform: translateY(200px);
    opacity: 0;
    transition: all 1.5s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}
/*----------------------------------------------------------------------*/
/*responsive css*/

@media (max-width:1200px) {
    section{
        width: 90%;
    }
    .leftA{
        font-size: 20px;
    }
    .imgintro{
        width: 90%;
    }

    .profileimg{
        width: 100%;
    }
    
    .h2{
        font-size: 25px;
    }
}

@media (max-width:700px) {
    section{
        width: 90%;
    }

    .secC{
        padding: 8%;
    }

    .leftA{
        float: none;
        width: 100%;
        padding: 30px  50px;
        font-size: 20px;
    }

    .leftB{
        float: none;
        width: 100%;
        padding: 50px 20px;
    }

    .rightA{
        float: none;
        width: 100%;
    }

    .rightB{
        float: none;
        width: 100%;
    }

    .imgintro{
        margin-top: 50px;
        width: 300px;
        }

    .profileimg{
        width: 200px;
    }

    .h2{
        font-size: 20px;
    }
    .p{
        font-size: 15px;
    }
    .intro{
    font-size: 25px;
    }
}

